EXPO_PUBLIC_SUPABASE_URL=https://mwcrhmzjwkrepwzbkgtm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5pEYwgIpKgBOEEY7C_w3SQ_uD_0nESo
EXPO_PUBLIC_POWERSYNC_URL=https://6a7a147653f73afec8a885c8.powersync.journeyapps.com
